.box{
    margin: 50px 50px 0px 60px;
}

.grid{
   padding: 12% 10% 8% 15%;
}

body{
    background-image: url("./double-bubble-dark.png") 
}


  header {
    padding: 20px;
    text-align: center;
    background:rgb(23,26,33);
    color: white;
    font-size: 35px;
  }

  .gs{
    font-size: 35px;
    color: white;
  }
  select{
      height: 35px;
      width: 125px;
  }
  option{
      font-size: 25px;
  }

  h3{
   color: wheat;
  }

  p{
   font-size: 25px;
    color: white;
  }